<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理系统</title>
<meta name="keywords" content="{$seo['keywords']}" />
<meta name="description" content="{$seo['description']}" />
<link type="text/css" rel="stylesheet" href="{PATH_URL}templates/default/admin/css/all.css"  />
<link type="text/css" rel="stylesheet" href="{PATH_URL}templates/default/admin/css/style.css" />
<script type="text/javascript" src="{PATH_URL}templates/default/admin/js/jquery.js"></script>
<script type="text/javascript" src="{PATH_URL}templates/default/admin/js/global.js"></script>
</head>
<body>
<div class="bgimg"></div>
<div class="pagetop">
	<div class="logo fl">壹海里后台管理系统</div>
	<div class="head_r fr">
		<a href="/" target="_blank">【网站首页】</a>
		<a href="admin.php?mod=do&act=logout">【注销】</a>
	</div>
	<div class="clear"></div>
</div>
<div class="content">
	<div class="main_top"></div>
	<div class="main">
		<div class="left fl">
			<!--{loop $adminmenu $key $val}-->
			<div class="fenlei">
				<h3>{$val['headnav']}</h3>
				<ul>
					<!--{loop $val['subnav'] $vv}-->
					<li <!--{if $vv['menumark']==$menumark }-->class="sel"<!--{/if}-->><a href="{$vv['url']}">{$vv['name']}</a></li>
					<!--{/loop}-->
				</ul>
			</div>
			<!--{/loop}-->

		</div>