<!--footer-->
<STYLE type=text/css>#footer_banquan_right {
	MARGIN-TOP: -5px; FLOAT: right; MARGIN-RIGHT: 7px
}
#footer_banquan_right SELECT {
	BORDER-BOTTOM: #917749 1px solid; BORDER-LEFT: #917749 1px solid; BORDER-TOP: #917749 1px solid; BORDER-RIGHT: #917749 1px solid
}
</STYLE>

<DIV id=footer>
	<DIV id=youqing>
		<DIV class=youqing_z>
			<DIV class=youqing_z_left>友情链接： </DIV>
			<DIV class=youqing_z_right>
			<A href="http://www.aladdin-holdings.com/" target=_blank>阿拉丁控股</A> 
			<A href="http://www.aladdin-assets.com/" target=_blank>阿拉丁资产</A> 
			<A href="http://www.aladdin-fortune.com/" target=_blank>阿拉丁财富</A> 
			<A href="http://www.aladdin-guarantee.com/" target=_blank>阿拉丁担保</A> 
			<A href="http://www.aladdin-trust.com/" target=_blank>阿拉丁信托·基金网</A>
			<A href="http://www.qiushiyuan.cn/" target=_blank>求是园俱乐部</A> 
			</DIV>
		</DIV>
	</DIV>
	<DIV id=copy>
		<DIV class=copy_left>版权所有：阿拉丁控股 备案/许可证编号为：京ICP备12031364号-1 </DIV>
		<DIV class=copy_right>
			<DIV id=footer_banquan_right>
				<SCRIPT>   
				  function   linkurl(url){   
					  newLink.href=url;   
					  newLink.click();   
				  }   
				  </SCRIPT>
					<SELECT style="CURSOR: pointer" onchange=linkurl(this.value) name=select> 
					  <OPTION selected>——相关机构——</OPTION> 
					  <OPTION style="CURSOR: pointer" value=http://www.aladdin-holdings.com/>阿拉丁控股</OPTION> 
					  <OPTION style="CURSOR: pointer" value=http://www.aladdin-asset.com>阿拉丁资产</OPTION> 
					  <OPTION style="CURSOR: pointer" value=http://www.aladdin-fortune.com>阿拉丁财富</OPTION>
					  <OPTION style="CURSOR: pointer" value=http://www.aladdin-guarantee.com>阿拉丁担保</OPTION> 
					  <OPTION style="CURSOR: pointer" value=http://www.aladdin-media.com>阿拉丁传媒</OPTION> 
					  <OPTION style="CURSOR: pointer" value=http://www.aladdin-invest.com>阿拉丁信托·基金网</OPTION>
					</SELECT> 
			</DIV>
		</DIV>
	</DIV>
</DIV>
<!--footer_jieshu-->
</BODY>
</HTML>
